
{% comment %} - section_settings: varible for section.settings {% endcomment %}
<div class="section-title-{{ section.id }} text-left w-[70%] lg:w-[35%] ">{{ section_settings.collection_title | default: section_settings.collection.title }}</div>
<style>
    .section-title-{{ section.id }}{
        color: {{ section_settings.title_color }};
        font-size: {{ section_settings.title_size }}px;
    }
    /* Styles for screens with a maximum width of 600px */
    @media only screen and (max-width: 600px) {
    .section-title-{{ section.id }}{
        font-size: {{ section_settings.title_size_mobile }}px;
    }
    }
</style>